// COLORS
$background-color: #d0e8f2;
$shape-background-color: rgba(119, 203, 229, 0.2);
$card-background-color: #fdfdfd;
$font-color: #ffffff;
$bold-font-color: #707070;
$pagination-card-background-color: #f6ae2d;


// SIZES
$screen-size-large: 1920px;
$screen-size-medium: 1366px;
$screen-size-small: 720px;
$screen-size-extra-small: 557px;

// FONTS
$font-small: 20px;
$font-medium: 25px;
$font-l: 27px;
$font-xl: 35px; 
$font-xxl: 60px;
